<form action="/triangle/result" method="post">
  <label for="side-one">Enter length of side-one in inches</label>
  <input id="side-one" type="text" name="side-one">
  <label for="side-two">Enter length of side-two in inches</label>
  <input id="side-two" type="text" name="side-two">
  <label for="side-three">Enter length of side-three in inches</label>
  <input id="side-three" type="text" name="side-three">
  <button type="Submit" name="Submit">Submit</button>
</form>
